<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pm.mapper.paper.PaperMapper">

    <select id="selectPageByCondition" resultType="com.pm.model.website.vo.paper.PaperPageVo">
        select id, paper_type, paper_name, paper_weight, paper_origin, pop_strength, fold_strength, ring_crush,
        moisture, IF(is_bottom, concat(paper_price,'起'), paper_price) as paper_price, is_bottom, create_time,
        update_time from t_paper
        <where>
            <if test="1==1">
                and is_delete = 0 and is_enabled = 1
            </if>
            <if test="condition != null">
                <if test="condition.paperName != null and condition.paperName != ''">
                    and paper_name LIKE CONCAT('%',#{condition.paperName},'%')
                </if>
            </if>
        </where>
    </select>
</mapper>
